<h1>New Discount</h1>
<%= form_with url: "/merchants/#{@merchant.id}/discounts", local: true do |f| %>
  <%= f.label :bulk_discount %>
  <%= f.number_field :bulk_discount, step: :any %>

  <%= f.label :item_threshold %>
  <%= f.number_field :item_threshold %>

  <%= f.submit 'Submit'%>
<% end %>
